.gnavi {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
  list-style: none;
  li {
    margin-bottom: 20px;
    a {
      position: relative;
      overflow: hidden;
      padding: 10px 60px;
      display: block;
      text-decoration: none;
      color: #333;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      transition: all .5s;
      transform: translate(-50%, 0);
      display: block;
      opacity: 1;
      white-space: nowrap;
      &:nth-child(2) {
        opacity: 0;
        transform: translate(-50%, 100%);
      }
    }
    &:hover {
      span:nth-child(1) {
        opacity: 0;
        transform: translate(-50%, -100%);
      }
      span:nth-child(2) {
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }
  }
}
